@font-face {
  font-family: "Conv_MontserratAlternates-Medium";
  src: url("./fonts/MontserratAlternates-Medium.eot");
  src: local("☺"),
    url("./fonts/MontserratAlternates-Medium.woff") format("woff"),
    url("./fonts/MontserratAlternates-Medium.ttf") format("truetype"),
    url("./fonts/MontserratAlternates-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");

$font_m-regular: "Conv_MontserratAlternates-Medium";

// font-family: 'Montserrat', sans-serif;
$font_m: "Montserrat", sans-serif;

$color_blue: #0068ef;
$color_darkBlue: #032087;

* {
  box-sizing: border-box;
  font-family: $font_m;
}

.firsSection {
  min-height: 100vh;
  position: relative;
  .sectionBG {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_text {
    position: relative;
    text-align: center;
    padding-top: 150px;
    color: $color_darkBlue;
    h2 {
      font-size: 27px;
    }
    h3 {
      font-size: 16px;
    }
  }
}

.searchContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  flex-direction: column;

  .SearchMenu {
    background: #fff;
    display: inline-block;
    margin: auto;
    padding: 16px;
    border-bottom: 1px solid #707070;
    &_ul {
      list-style: none;
      display: flex;
      margin-bottom: 0px;
      padding-left: 0;
      li {
        color: $color_darkBlue;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 46px;
        justify-content: space-between;
        font-size: 14px;
        // padding: 20px;
        padding: 0 34px;
        cursor: pointer;
      }
    }
  }
}

.search {
  &_options {
    .container {
      background: #fff;
      padding: 26px;
      display: flex;
      justify-content: space-between;
    }
    input,
    select {
      &.CtOrAirport {
        max-width: 300px;
        width: 100%;
        display: inline-block;
      }
      border: 1px solid #bdbdbd;
      border-radius: 3px;
      padding: 10px 15px;
      &::placeholder {
        color: #4b4c4d;
      }
    }
    select {
      width: 130px;
    }
    button {
      height: 45px;
      width: 200px;
    }
  }
}

.marketSumContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  &_container {
    background: #fff;
    display: inline-block;
    display: flex;
    padding: 15px;
    border-radius: 3px;
    button {
      color: $color_blue;
      border: 2px solid #0068ef;
      background: #fff;
      margin-left: 30px;
      padding-left: 40px;
      padding-right: 40px;
    }
    h4 {
      color: $color_darkBlue;
    }
    > div {
      padding: 0 16px;
      border-right: 1px solid #70707069;
      color: #092e53;
      span {
        color: #3acc89;
        font-size: 12px;
      }
    }
  }
}

section.features {
  background: #fafafa;
  text-align: center;
  color: $color_darkBlue;
  padding: 50px 0;
  h4 {
    margin-top: 20px;
  }
  p {
    font-size: 15px;
  }
}

.topDestinations {
  background: #fafafa;
  padding-top: 50px;
  &_menu {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    li {
      margin-bottom: 8px;
    }
    a {
      color: $color_darkBlue;
      font-size: 14px;
    }
  }
  h4 {
    color: $color_darkBlue;
    font-size: 24px;
    margin-bottom: 30px;
  }
  &_item {
    position: relative;
    height: 340px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      display: inline-block;
    }
    .blur {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.25253851540616246) 19%,
        rgba(0, 0, 0, 0.19371498599439774) 55%,
        rgba(255, 255, 255, 0) 100%
      );
    }
    &_text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;
      h5 {
        margin-bottom: 2px;
        font-size: 22px;
      }
      h6 {
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }
  padding-bottom: 40px;
}

.footer {
  padding: 60px 0;
  background: $color_darkBlue;
  color: #fff;
  padding-top: 140px;
  a {
    color: #fff;
  }
  &_socials {
    a {
      display: inline-block;
      margin-right: 8px;
    }
  }

  &_menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  label {
    font-weight: bold;
  }
}

.header {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-top: 20px;
  &_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_menu {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    li {
      margin: 0 16px;
      a {
        color: #fff;
        font-size: 14px;
      }
    }
  }
  &_loginBtns {
    button {
      width: 114px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      margin-left: 8px;
    }
  }
}

.subscribe {
  background: #fafafa;

  &_form {
    button {
      width: 170px;
      display: inline-block;
      height: 46px;
      margin-left: 10px;
    }
  }
  input {
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    padding: 10px 15px;
    max-width: 400px;
    display: inline-block;
    width: 100%;
    &::placeholder {
      color: #979797;
    }
  }
  .container {
    transform: translateY(50%);
    padding: 30px;
    background: #fff;
    box-shadow: 0px -3px 15px #03208708;
    border-radius: 3px;

    h6 {
      color: $color_darkBlue;
      font-size: 20px;
    }
    p {
      color: #4b4c4d;
      margin-bottom: 0;
      font-size: 14px;
    }
  }
}

.btn {
  &-primary {
    background: $color_blue;
  }
  &-light {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      background: #fff;
      color: $color_blue;
    }
  }
}

.curencySelect {
  background: transparent;
  border: none;
  color: #fff;
  text-transform: uppercase;
  option {
    background: grey;
  }
}
